body {
    background-color: rgb(230, 171, 186);
    font-family:'Gruppo';
  }
  
  h1 {
    color: #000000;
    font-family:'Gruppo';
  }
  p {
    color: rgb(0, 0, 0);
    font-family:'Gruppo';
  }

  @font-face { font-family:;

  }

  
