
<style type="text/css">
  @font-face {
    font-family: "Helvetica";
    src: url("file:///home/facey/Downloads/helvetica/Helvetica%20Roman.ttf") format("truetype");
  }

  body {
    background-color: rgb(230, 171, 186);
    font-family: 'Helvetica', Arial, sans-serif;
  }

  h1, h2, h3 {
    color: #000000;
  }

  h1 {
    font-family: 'Helvetica', Arial, sans-serif;
  }

  h2, h3 {
    font-family: 'Arial Narrow', Arial, sans-serif;
  }

  p {
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
  }

  table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid black;
    padding: 20px;
    text-align: left;
  }
</style>

<p class="customfont">Hello world!</p>
